<style>
  body {padding-top: 70px;} 
</style>
<nav class="navbar fixed-top navbar-expand-lg navbar-dark" style="background-color: darkturquoise;">
  <img src="/static/logo.png" width="100" width="60" id="logo">
  <form class="form-inline">
    <a id="goHome" class="btn btn-outline-secondary" type="button" href="/">Home</a>
    <a id="viewAllEvents" class="btn btn-outline-secondary" type="button" href="/">View All Events</a>
    <a id="viewAllLocations" class="btn btn-outline-secondary" type="button" href="/">View All Locations</a>
    <a id="viewAllEventTypes" class="btn btn-outline-secondary" type="button" href="/">View All Event Types</a>
    <a id="searchForm" class="btn btn-outline-secondary" type="button" href="/search_form">Custom Search</a>
  </form>
</nav>
<br>